h1{
  color: #0000ff; 
}
h2{
  color: #cc00ff;
}
h3{
  color: #0000ff;
}
img.galleryimage{
  width:300px; height:300px; border:6px solid #000000; 
}
img{
  width:400px; height:400px; border:6px solid #000000; 
}
html {
  background:#999;
}
a{
  text-decoration:none; color:yellow;
}
h4{
 color: #cc00ff;
}